@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.text-web-primary {
  color: #21caa2 !important;
}
.bg-web-primary {
  background-color: #21caa2 !important;
}

.border.border-web-primary {
  border-color: #21caa2 !important;
}

nav.navbar {
  border-bottom: 3px solid #f58d50;
  padding: 15px 0 !important;
}

li.nav-item > a.nav-link {
  font-size: 17px !important;
  font-weight: bold;
  color: #777 !important;
  margin-right: 40px !important;
}

li.nav-item > a.nav-link:hover, li.nav-item > a.nav-link.active, li.nav-item > a.dropdown-toggle.active {
  color: #21caa2 !important;
}

ul.dropdown-menu > li > a , ul.dropdown-menu > li > form > label {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

a.dropdown-item:hover, a.dropdown-item:focus, li > form > .dropdown-item:hover, li > form > .dropdown-item:focus {
  color: #333 !important;
  background-color: #06ECB6 !important;
  /* background-color: rgba(6, 236, 182, 15%) !important; */
}
a.dropdown-item:active, li > form > .dropdown-item:active {
  background-color: #e9ecef !important;
  color: #333 !important;
}

button.dropdown-item-danger:active {
  background-color: #e9ecef !important;
  color: #333 !important;
}

#search {
  width: 34px;
  color: #777;
  cursor: pointer;
}

.btn.btn-web-primary {
  background-color: #21caa2;
  border: none;
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px !important;
}

.btn.btn-web-primary.btn-sm {
  padding: 8px 10px !important;
}

.btn.btn-web-primary.rounded-pill {
  border-radius: 50px !important;
}

.btn.btn-web-primary:hover, .btn.btn-web-primary:active, .btn.btn-web-outline-primary:hover, .btn.btn-web-outline-primary:active {
  background-color: #24ba97 !important;
  color: #fff !important;
}

.btn.btn-web-outline-primary {
  background-color: transparent;
  border: 1px solid #21caa2;
  color: #21caa2;
  padding: 10px 30px;
  border-radius: 5px !important;
}

.search-box {
  border-radius: 40px;
  padding: 2px 6px 2px 10px;
  transition: .3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box.show {
  background: #21caa2;
}

.search-input {
  border:none;
  outline:none;
  background: none;
  width: 0px;
  padding: 0;
  color: white;
  font-size: 15px;
  transition: 0.4s all ease;
  line-height: 40px;
}

.search-box.show > .search-input {
  width: 265px;
  padding: 0 7px 0 10px;
}

.search-box.show > .search-btn {
  background: white !important;  
}

.search-btn {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  transition: 0.4s all ease;
  border: none;
  background: transparent;
}

.search-btn > img {
  width: 27px;
  height: 27px;
  pointer-events: none;
}

.fas.fa-times {
  pointer-events: none;
}

.form-label {
  color: #343a40 !important;
}

.form-control {
  padding: 10px 16px !important;
  font-size: 15px !important;
  background-color: #f9fcff !important;
}
.form-control.disabled {
  background-color: #ededed !important;
}

.form-control.is-invalid {
  padding-right: 30px !important;
}

/* LANDING PAGE */
  h1.hero-heading {
    font-size: 38px;
  }

  .text-hero {
    color: #333333d6;
    width: 90%;
  }

  .count-card-small {
    width: 310px;
    padding: 20px;
  }

  .count-card-small>p {
    font-size: 15px;
  }

  .service-card-small {
    width: 325px;
    height: 280px;
    text-align: center;
    padding: 28px 22px;
    border-radius: 8px;
    border-bottom: 6px solid #21caa2;
    box-shadow: 0 0 18px rgba(56, 56, 56, 0.2);
  }

  .service-card-small>p {
    font-size: 14px;
    color: #333333ee;
  }

  .service-card-small>img {
    width: 55px;
  }

  /* FEATURE */
  .feature-card {
    width: 325px;
    padding: 30px 22px;
    padding-left: 65px;
    border-radius: 9px;
  }

  .feature-card>.image-container {
    width: 130px;
    height: 130px;
    padding: 20px;
    border: 2px solid #21caa2;
    top: 50%;
    transform: translateY(-47%);
    left: -100px;
  }

  footer {
    border-top: 3px solid #f58d50;
  }

  footer>.row-link>.list-link>ul>li>a {
    color: #333;
    text-decoration: none;
  }

  footer>.row-link>.list-link>ul>li>a:hover {
    color: #21caa2;
  }

  /* nav pills */
  .nav.nav-pills > .nav-link.active {
    background-color: #21caa2;
  }
  .nav.nav-pills > .nav-link.active:hover {
    color: #fff;
  }
  .nav.nav-pills > .nav-link {
    color: #495057;
  }
  .nav.nav-pills > .nav-link:hover {
    color: #21caa2;
  }


@media screen and (max-width: 992px) {

  .navbar-collapse {
    margin-top: 12px !important;
  }

  .search-box {
    background: #21caa2;
    margin: 15px 0 20px;
    justify-content: space-between;
  }  

  .search-btn {
    background: white !important;  
  }

  .search-btn > img {
    width: 25px;
    height: 25px;
  }

  .search-input {
    width: 100%;
    padding: 0 7px 0 10px;
  }

  .btn-group {
    width: 100% !important;
  }
  #btn-login {
    margin:0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  #btn-register {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

}

@media screen and (max-width: 620px) {
  .search-box.show > .search-input {
      width: 150px;
      padding: 0 6px;
  }

  .btn-group {
    display: block !important;
  }

  #btn-login, #btn-register {
    width: 100% !important;
    border-radius: 5px !important;
  }

  #btn-login {
    margin-bottom: 10px !important;
  }
}