@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

nav.navbar {
  border-bottom: 3px solid #f58d50;
  padding: 15px 0 !important;
}

a.nav-link {
  font-size: 17px !important;
  font-weight: bold;
  color: #777 !important;
  margin-right: 40px !important;
}

a.nav-link:hover, a.nav-link.active, a.dropdown-toggle.active {
  color: #21caa2 !important;
}

ul.dropdown-menu > li > a {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

a.dropdown-item:hover {
  color: #333 !important;
  background-color: #06ECB6 !important;
  /* background-color: rgba(6, 236, 182, 15%) !important; */
}

#search {
  width: 34px;
  color: #777;
  cursor: pointer;
}

.btn.btn-web-primary {
  background-color: #21caa2;
  border: none;
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px !important;
}

.btn.btn-web-primary:hover {
  background-color: #24ba97;
  color: #fff;
}

.btn.btn-web-outline-primary {
  background-color: transparent;
  border: 1px solid #21caa2;
  color: #21caa2;
  padding: 10px 30px;
  border-radius: 5px !important;
}

.btn.btn-web-outline-primary:hover {
  background-color: #24ba97;
  color: #fff;
}

.search-box {
  border-radius: 40px;
  padding: 2px 6px 2px 10px;
  transition: .3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box.show {
  background: #21caa2;
}

.search-input {
  border:none;
  outline:none;
  background: none;
  width: 0px;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s all ease;
  line-height: 40px;
}

.search-box.show > .search-input {
  width: 265px;
  padding: 0 7px 0 10px;
}

.search-box.show > .search-btn {
  background: white !important;  
}

.search-btn {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  transition: 0.4s all ease;
}

.search-btn > img {
  width: 27px;
  height: 27px;
  pointer-events: none;
}

.fas.fa-times {
  pointer-events: none;
}


@media screen and (max-width: 992px) {

  .navbar-collapse {
    margin-top: 12px !important;
  }

  .search-box {
    background: #21caa2;
    margin: 15px 0 20px;
    justify-content: space-between;
  }  

  .search-btn {
    background: white !important;  
  }

  .search-btn > img {
    width: 25px;
    height: 25px;
  }

  .search-input {
    width: 100%;
    padding: 0 7px 0 10px;
  }

  .btn-group {
    width: 100% !important;
  }
  #btn-login {
    margin:0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  #btn-register {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

}

@media screen and (max-width: 620px) {
  .search-box.show > .search-input {
      width: 150px;
      padding: 0 6px;
  }

  .btn-group {
    display: block !important;
  }

  #btn-login, #btn-register {
    width: 100% !important;
    border-radius: 5px !important;
  }

  #btn-login {
    margin-bottom: 10px !important;
  }
}